*{
    padding:0;
    margin:0;
    user-select:none;
}

.header{
    background:black;
    width:100%;
    height:200px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.header img{
    width:60%;
    max-width:500px;
}

.dropdown-menu .dropdownBtn{
    width:25px;
    height:25px;
    margin:20px;
}

.dropdown-menu .menu-content{
    display:hidden;
}

.dropdown-menu .menu-content.active{
    display:block;
}










.content{
    display:flex;
    flex-direction:column;
    justify-content:center;
}